*,
html {
  margin: 0;
  font-family: $font-primary;
  box-sizing: border-box;
}

.container {
  margin-inline: auto;
  max-width: 1311px;
  width: 100%;
}

.wrapper {
  @include media-breakpoint-down(xxl) {
    padding-inline: 34px;
  }
}

@include media-breakpoint-down(sm) {
  .no-mob {
    display: none;
  }
}