.leadership {
  margin-bottom: 100px;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $text-secondary;
    font-family: $font-primary;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $text-subtitle;
    font-family: $font-primary;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }

  &__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  &__member {
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
  }

  @include media-breakpoint-down(xxl) {
    &__wrapper {
      padding-inline: 34px;
    }
  }

  @include media-breakpoint-down(xl) {
    &__title {
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }

    &__subtitle {
      line-height: 1.2;
      text-align: center;
    }

    &__description {
      gap: 30px;
      margin-bottom: 50px;
    }

    .card--staff {
      max-width: 250px;

      &__image {
        margin-bottom: 20px;
      }

      &__name {
        margin-bottom: 10px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__description {
      gap: 16px;
    }
    .card--staff {
      max-width: 225px;
    }
  }

  @include media-breakpoint-down(md) {
    &__members {
      grid-template-columns: repeat(2, 1fr);
    }

    &__member {
      &:last-child {
        grid-column-end: -1;
        grid-column-start: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;

    &__description {
      gap: 0;
      margin-bottom: 0;
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    &__members {
      grid-template-columns: 1fr;
    }

    &__member:last-child {
      .card--staff {
        margin-bottom: 0;
      }
    }
  }
}
